body {
    background-image: url(../img/site/bg-home.png);
    background-size: cover;

    height: 100%;
    min-height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

main {
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;

}




header menu ul {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}



header .logo_b {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background: url(../img/site/logo_white.png);
}
