body {
    background-image: none;
    color: #ccc;
}

header menu{
    color:#333;
}





/* menu lateral */
aside {
    width: 250px;
    height: auto;

    color: #333;
    border-right: solid 1px #B3B3B3;
}

aside h1 {
    width: 100% !important;
    font-size: 15px !important;
    font-weight: 700;
}

aside ul {
    margin-top: 20px;
    font-size: 14px;
}



/*publicações de postagens */
.posts-networking {
    width: 30%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;;
}


/*publicações de postagens */
.posts {
    width: 350px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;;
}

.posts h1 {
    width: 100% !important;
    font-size: 15px !important;
    font-weight: 700;
    color: #333333;
}

.posts ul {
    display: flex;
    align-content: space-between;
    flex-flow: wrap;
}

.posts ul li {
    width: 300px;
    margin-bottom: 20px;
    background: #DDDDDD;
    border-radius: 5px;
    padding: 10px;
}

.posts ul li .identificacao {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.posts ul li .identificacao .foto {
    width: 50px;
    height: 50px;
    border: solid 1px #666666;
    border-radius: 50%;
    background-position: center center;
}

.posts ul li .identificacao .nome {
    width: calc(100% - 120px);
    display: flex;
    align-content: center;
    flex-flow: wrap;
}

.posts ul li .identificacao .nome h1 {
    width: 100%;
    font-size: 14px;
    color: #666666;
}

.posts ul li .identificacao .nome h3 {
    width: 100%;
    font-size: 11px;
    color: #666666;
    font-weight: normal;
}

.posts ul li .identificacao .time {
    width: 50px;
    text-align: right;
    font-size: 10px;
    display: flex;
    align-content: center;
    flex-flow: wrap;
    color: #666666;
}

.posts ul li p {
    width: 100%;
    margin: 10px 0;
    font-size: 13px;
    color: #666666;
}


.posts ul li .acoes {
    color: #666666;
    font-size: 11px;
    font-weight: bold;
}



/* atividades */
.atividades {
    width: 490px;
}

.atividades ul {
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-flow: wrap;
}

.atividades ul li {
    width: 150px;
    height: 150px;
    border-radius: 7px;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.atividades ul li .desc {
    width: 100%;
    height: 100%;
    min-height: 100%;
    color: #333;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: flex-end;
}

.atividades ul li .desc h1 {
    color: #FFFFFF;
    padding: 15px;
    margin-top: 20px;
    font-size: 12px;
}