@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: space-around;

    flex-flow: row wrap;

    position: absolute;
    overflow-x: hidden;
    background-image: url(../img/site/bg-home.png);
}


main {
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

footer{
    width: 1200px;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}








header{
    width: 1200px;
    height: 170px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 380px;
    height: 120px;

    background: url(../img/site/logo_white.png);
    background-size: cover;
}
header .logo_b {
    width: 380px;
    height: 120px;

    background: url(../img/site/logo_blue.png);
    background-size: cover;
}


header menu {
    width: 550px;
}


header menu ul {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    color: #333;
}

header menu ul > li {
    cursor: pointer;
    position: relative;
}

header menu ul > li:hover > .sub {
    display: block;
}

header menu ul > li > .sub {
    width: 250px;
    background: #212121;
    border-radius: 5px;
    padding: 15px;
    display: none;
    position: absolute;
    left: -50%;
}

header menu ul > li > .sub > ul.social {
    width: 100%;
    margin-bottom: 5px;
}

header menu ul > li > .sub > ul.social > li {
    width: 50%;
    padding: 7px;
}

header menu ul > li > .sub > ul.social > li:first-child {
    background: #2549c2;
    border-radius: 5px 0 0 5px;
}

header menu ul > li > .sub > ul.social > li:last-child {
    background: #e70019;
    border-radius: 0 5px 5px 0;
}

header menu ul > li > .sub > input {
    width: 100%;
    padding: 7px;
    margin: 5px 0;
    border-radius: 5px;
    color: #212121;
}

header menu ul > li > .sub > button {
    width: 65%;
    padding: 7px;
    margin-top: 5px;
    float: right;
    border-radius: 5px;
    background: #FFFFFF;
    color: #212121;
}






















.row {
    width: 100%;
    display: flex;
}

.block {
    display: block;
}




.sub-titles {
    width: 100%;
    height: auto;
    color: #B3B3B3;
    font-size: 12px;
    margin: 10px 0px;
}

.titles {
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -1px;
    color: #168941;
    margin: 10px 0px;
}

li {
list-style: none;
}

.h1 {
    font-size: 40px;
}

.h2 {
    font-size: 35px;
}

.h3 {
    font-size: 30px;
}

.h4 {
    font-size: 25px;
}

.h5 {
    font-size: 20px;
}


